<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <script src="/javascripts/results.js" async defer></script>
</head>

<body>
    <%- include('partials/nav') %>
        <div class="container d-flex result-container">
            <div class="row d-flex result-cards">
                <% results.forEach(movie=> { %>
                    <div class="card movie-card" style="width: 18rem;">
                        <img src="<%= movie.Poster %> " class="card-img-top mt-2">
                        <div class="card-body">
                            <h5 class="<%= movie.Title %> ">
                                <%= movie.Title %>
                            </h5>
                            <button data-movieID="<%= movie.imdbID %>" class="favMovie btn-dark">Add To Favorites</button>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
</body>

</html>