<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <script src="/javascripts/results.js" async defer></script>
</head>

<body>
    <%- include('partials/nav') %>
        <div class="container d-flex result-container">
            <div class="row d-flex result-cards">
                <% results.forEach(movie=> { %>
                    <div class="card movie-card" style="width: 18rem;">
                        <img src="<%= movie.Poster %> " class="card-img-top mt-2">
                        <div class="card-body">
                            <div class ='row'>
                                <div class='col-12'>
                                <h5 class="<%= movie.Title %> ">
                                    <%= movie.Title %>
                                </h5>
                                <% if (!movie.favorite && userActive) { %>
                                    <button data-movieID="<%= movie.imdbID %>" class="favMovie btn-fav col-12"><img src="/images/star.png" width="20"></button>
                                    <% } else if (movie.favorite && userActive) { %>
                                        <button data-movieID="<%= movie.imdbID %>" class="favMovie btn-fav">✖</button>
                                        <% } else { %>
                                            
                                            <% } %>
                                                <a style="text-decoration:none" href="/specificresult/<%= movie.imdbID %>"> <button
                                                        data-movieID="<%= movie.imdbID %>"
                                                        class="moreInfo btn col-12">More
                                                        Info</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
</body>

</html>